.home-page {
    
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        z-index: 2;
    }
    
    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #FFA69E;
            font-size: 18px;
            position: absolute;
            margin-top:  -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #FFA69E;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #FFA69E;
        margin-top: 20px;
        font-weight: 600;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #FFA69E;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #FFA69E;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background-color: #FFA69E;
            color: #333;
        }
    }
}

@media screen and (max-width: 1200px) {

    .home-page h1:before {
        top: 15%;
        left: -15%;
        font-weight: 500;
    }

    .home-page h1:after {
        font-weight: 500;
    }

    .home-page .text-zone {
      position: relative;
      width: 55%;
      transform: none;
      padding: 180px 0 0 130px;
      float: left;
    

        h1, h2 {
            position: relative;
            right: 30%;
        }

        h1 {
            margin-bottom: -5%;
        }

        .last-logo{
            margin-left: 0px;
        }
    }

    .home-page .flat-button {
        position: relative;
        right: 30%;
        display: block;
        margin: 10px auto 30px auto;
        width: 124px;
    }

  
    .logo-container {
        z-index: 1;
        opacity: 45%;
        transform: rotateZ(10deg);
  
        svg {
            position: absolute;
            top: -75%;
            right: auto;
            bottom: auto;
            left: 15%;
            margin: auto;
        }
        .solid-logo-div {
            position: absolute;
            width: 100%;
            top: -37.5%;
            left: 15%;
        }
    }

    .logo-container-l{
        z-index: 5;
        opacity: 45%;
        transform: rotateZ(4deg);
  
        svg {
            position: absolute;
            top: 35%;
            right: auto;
            bottom: auto;
            left: 38%;
            margin: auto;
        }
        .solid-logo-div-l {
            position: absolute;
            width: 100%;
            top: 17%;
            left: 38%;
        }
    }

  }