html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Helveitca Neue', 'sans-serif';
  color: #444;
  background: #00798c;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}